# public info - Git configuration file.

[include]
	path = ~/.priv/.gitconfig

[core]
	editor = emacsclient -a mg
	autocrlf = input
	excludesfile = /home/kevin/.gitignore
	pager = less
[init]
	defaultBranch = main

# Inserted automatically by 'gh auth login'.
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential

