
[include]
	path = ~/.priv/gitconfig

[core]
	excludesfile = ~/.gitignore
#	pager = less
#	editor = emacsclient -a mg

# Normalize line endings across Windows, Linux, etc.
#	autocrlf = input

[init]
	defaultBranch = main

# Inserted automatically by 'gh auth login'.
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential

