# This is Git's per-user configuration file.

[user]
	name = Kevin Williams
	email = kevin@k9w.org
[core]
	editor = mg
	autocrlf = input
	excludesfile = /home/kevin/.gitignore
#	pager = cat ; only needed on OpenBSD, not Linux/FreeBSD
[init]
	defaultBranch = main

[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
