# Comment

#XTerm*faceName: DeJavu Mono
#XTerm*faceSize: 10
#XTerm*allowBoldFonts: false
#XTerm*scrollBar: false
#XTerm*loginShell: true
#XTerm*eightBitInput: false
#XTerm*internalBorder: 2
#XTerm*foreground: white
#XTerm*background: black

XTerm*foreground: rgb:ff/ff/ff
XTerm*background: rgb:00/00/00
XTerm*faceName:			DeJavu Mono
XTerm*faceSize:			10
XTerm*scrollBar:		false
XTerm*selectToClipboard:	true
XTerm*metaSendsEscape:		true

