# Comment

XTerm*foreground: 		rgb:ff/ff/ff
XTerm*background: 		rgb:00/00/00
XTerm*faceName:			DeJavu Mono
XTerm*faceSize:			9
XTerm*scrollBar:		false
XTerm*selectToClipboard:	true
XTerm*metaSendsEscape:		true
XTerm*loginShell:		true

